.header1{
    color:brown;
}

#para1{
    color:rgb(91, 48, 4);
}

.para2{
    color:rgb(4, 69, 69);
}

#header2{
    color:rgb(49, 4, 79);
}

#para2{
    color:rgb(165, 110, 8);
}
